body {
  min-width: 900px;
  font: 400 16px/1.375 "Roboto", sans-serif;
  color: #333333;
  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

.input {
  display: none;
}

.input--1:checked ~ .bg {
  background-color: #849d8f;
  background-image: url(../img/bg_slider-1.jpg);
}

.input--2:checked ~ .bg {
  background-color: #8996a6;
  background-image: url(../img/bg_slider-2.jpg);
}

.input--3:checked ~ .bg {
  background-color: #9d8b84;
  background-image: url(../img/bg_slider-3.jpg);
}

.input--1:checked ~ .bg .slider__wrap {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.input--2:checked ~ .bg .slider__wrap {
  -webkit-transform: translate(-33.33%);
      -ms-transform: translate(-33.33%);
          transform: translate(-33.33%);
}

.input--3:checked ~ .bg .slider__wrap {
  -webkit-transform: translate(-66.66%);
      -ms-transform: translate(-66.66%);
          transform: translate(-66.66%);
}

.input--1:checked ~ .bg .slider__control--1,
.input--2:checked ~ .bg .slider__control--2,
.input--3:checked ~ .bg .slider__control--3 {
  background-color: #ffffff;
}

.bg {
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
}

.page__wrap {
  box-sizing: border-box;
  padding: 0 2.3%;
}

.btn {
  border: none;
  outline: none;
  overflow: hidden;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  padding: 0 18px;
  line-height: 2.1;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn--large {
  padding: 0 43px;
  font-size: 31.5px;
  border-radius: 40px;
}

.btn--wide {
  padding: 0 27px;
}

.link {
  color: #333333;
}

.link:hover {
  color: #ec593c;
}

.link:active {
  color: #ec593c;
}

.link--alt {
  color: #ffffff;
}

.link--alt:hover {
  color: #ffbc9e;
}

.link--alt:active {
  color: #ffbc9e;
}

.page-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 64px;
}

.page-header__col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-header__logo-wrap {
  position: relative;
  display: block;
  width: 154px;
  margin-right: 10px;
}

.page-header__logo-img {
  position: absolute;
  top: -12px;
  left: -5px;
}

.page-header__nav-wrap {
  width: 375px;
}

.page-header__actions-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
}

.page-nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-nav__item {
  position: relative;
  padding: 6px 12px;
  border-radius: 30px;
}

.page-nav__item:hover {
  color: #333333;
  background-color: #f8f7f4;
}

.page-nav__item:hover a {
  color: #333333;
  text-decoration: none;
}

.page-nav__item--current {
  background-color: #d07058;
}

.page-nav__item--current > a {
  text-decoration: none;
}

.page-nav__item--current:hover {
  background-color: #d07058;
}

.page-nav__item--current:hover > a {
  color: #ffffff;
}

.page-nav__item:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.page-nav__link {
  color: #ffffff;
}

.page-nav__sub-list {
  position: absolute;
  left: -7px;
  top: 110%;
  display: none;
  box-sizing: border-box;
  min-width: 144px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: 2;
}

.page-nav__item:hover .page-nav__sub-list {
  display: block;
}

.page-nav__sub-title {
  position: relative;
  padding: 9px 20px 11px 20px;
  font-size: 14px;
  font-weight: 700;
  cursor: default;
}

.page-nav__sub-title:after {
  content: "";
  position: absolute;
  left: 6px;
  right: 9px;
  height: 1px;
  background-color: #d1d0ce;
  bottom: 0;
}

.page-nav__sub-item {
  padding: 7px 20px;
  font-size: 14px;
  text-decoration: none;
}

.page-nav__sub-item:hover {
  background-color: #fbded7;
}

.page-nav__sub-item:active {
  background-color: #f6b5a5;
}

.page-nav__sub-item--current {
  background-color: #d07058;
}

.page-nav__sub-item--current:hover {
  background-color: #d07058;
}

.page-nav__sub-item:last-child {
  border-radius: 0 0 5px 5px;
}

.page-nav__sub-link {
  color: #333333;
  font-size: 14px;
  text-decoration: none;
}

.actions-btn {
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  border: none;
  outline: none;
  overflow: hidden;
  line-height: 1;
  text-decoration: none;
  border-radius: 30px;
  cursor: default;
}

.actions-btn--search {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  background-image: url(../img/icon_search.svg);
  background-position: 49% 49%;
  background-size: 17px;
  border-radius: 50%;
}

.actions-btn--login {
  padding: 9px 15px 9px 42px;
  background-image: url(../img/icon_login.svg);
  background-size: 20px;
  background-position: 20% 49%;
}

.actions-btn--cart {
  min-width: 57px;
  padding: 9px 15px 9px 42px;
  background-image: url(../img/icon_cart.svg);
  background-size: 21px;
  background-position: 17% 49%;
}

.search {
  position: relative;
}

.search:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.search__form {
  height: 30px;
  margin: 0;
  padding: 0;
}

.search__wrap {
  display: none;
  position: absolute;
  top: 113%;
  right: 0;
  z-index: 2;
  width: 310px;
  padding: 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.search__input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
}

.search__input[type="search"] {
  box-sizing: border-box;
}

.search__input:hover {
  padding: 9px;
  border: 2px solid #c7c6c5;
}

.search__input:focus {
  outline: none;
  padding: 9px;
  border: 2px solid #8fbdec;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
}

.search__input:-moz-placeholder {
  font-weight: 400;
}

.search__input::-moz-placeholder {
  font-weight: 400;
}

.search__input:-ms-input-placeholder {
  font-weight: 400;
}

.search:hover .search__wrap {
  display: block;
}

.login {
  position: relative;
}

.login:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.login__wrap {
  display: none;
  position: absolute;
  top: 113%;
  right: 0;
  z-index: 2;
  width: 240px;
  padding: 20px 15px 15px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.login__form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.login__input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 12px;
}

.login__input:hover {
  padding: 9px;
  border: 2px solid #c7c6c5;
}

.login__input:focus {
  outline: none;
  padding: 9px;
  border: 2px solid #8fbdec;
}

.login__input::-webkit-input-placeholder {
  font-weight: 400;
}

.login__input:-moz-placeholder {
  font-weight: 400;
}

.login__input::-moz-placeholder {
  font-weight: 400;
}

.login__input:-ms-input-placeholder {
  font-weight: 400;
}

.login__col {
  width: 50%;
}

.login__links {
  font-size: 13px;
  line-height: 1.6;
}

.login:hover .login__wrap {
  display: block;
}

.cart {
  position: relative;
}

.cart:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.cart__form {
  display: none;
  position: absolute;
  top: 113%;
  right: 0;
  z-index: 2;
  width: 515px;
  padding: 26px 15px 23px 10px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.cart:hover .cart__form {
  display: block;
}

.cart__table {
  margin-bottom: 12px;
}

.cart__btn {
  text-align: right;
}

.cart-list {
  font-size: 13px;
}

.cart-list td {
  vertical-align: top;
}

.cart-list__remove {
  width: 6%;
  padding: 0;
}

.cart-list__icon-remove {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
}

.cart-list__icon-remove:before, .cart-list__icon-remove:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 50%;
  width: 1px;
  height: 15px;
  background-color: #353535;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart-list__icon-remove:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart-list__img {
  width: 7%;
  padding: 0;
}

.cart-list__img img {
  border-radius: 50%;
}

.cart-list__descr {
  width: 47%;
  padding: 8px 10px 28px 10px;
}

.cart-list__price {
  width: 25%;
  padding: 8px 10px;
}

.cart-list__price span {
  color: #808080;
}

.cart-list__count {
  width: 15%;
  padding: 8px 10px;
}

.cart-list__total {
  position: relative;
  padding: 0 10px;
  text-align: right;
  font-size: 16px;
}

.cart-list__total:before {
  content: "";
  position: absolute;
  left: 6px;
  right: 9px;
  height: 1px;
  background-color: #d1d0ce;
  top: -13px;
}

.page-content__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.page-content__col {
  box-sizing: border-box;
  width: 48.84696%;
}

.schedule {
  color: #ffffff;
  text-align: right;
}

.schedule p {
  margin: 0;
  padding: 0;
}

.schedule__time {
  font-size: 14px;
  font-weight: 700;
}

.schedule__phone {
  font-size: 22px;
  font-weight: 900;
}

.slider {
  position: relative;
  padding: 273px 0 40px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.slider__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
}

.slider__slide {
  width: 100%;
}

.slider__title {
  width: 700px;
  margin: 0 auto 28px;
  font: 900 60px/60.35px "Roboto", sans-serif;
  color: #ffffff;
}

.slider__controls {
  position: absolute;
  bottom: 70px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
}

.slider__control {
  width: 17px;
  height: 17px;
  margin-right: 8px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.banner {
  padding: 20px;
  color: #ffffff;
}

.banner__title {
  margin: 0;
  padding: 0;
}

.banner__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.products {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.products__col {
  box-sizing: border-box;
  width: 23.27044%;
}

.product {
  position: relative;
  color: #ffffff;
  margin-bottom: 20px;
}

.product__img {
  position: relative;
}

.product__img img {
  border-radius: 50%;
}

.product__price {
  position: absolute;
  bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.product__price span {
  font-size: 45px;
}

.product__title {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.product__title a {
  color: #ffffff;
}

.product__actions {
  position: absolute;
  left: -6px;
  bottom: -80px;
  right: -6px;
  display: none;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.product:before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -1px;
  left: -6px;
  display: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1;
}

.product:after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -80px;
  left: -6px;
  display: none;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

.product:hover:before, .product:hover:after,
.product:hover .product__actions {
  display: block;
}

.product:hover .product__img,
.product:hover .product__title,
.product:hover .product__actions {
  z-index: 2;
}

.map {
  position: relative;
  min-height: 430px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/bg_map.png) no-repeat;
}

.map__contact {
  position: relative;
  width: 303px;
  z-index: 2;
}

.filters {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.paginator {
  text-align: right;
  font-size: 0;
}

.paginator__dir {
  display: inline-block;
  font-size: 16px;
}

.paginator__btn {
  display: inline-block;
  font-size: 16px;
}

.page-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer__col {
  width: 16.5%;
}

.page-footer__col--wide {
  width: 30%;
}

.socials {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.extra-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-contact {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: none;
  margin: auto;
  width: 480px;
  height: 442px;
  -webkit-animation: fade 0.3s both;
          animation: fade 0.3s both;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
