@font-face {
  font-family: "gllacy";
  src: url("../font/gllacy.eot?33611331");
  src: url("../font/gllacy.eot?33611331#iefix") format("embedded-opentype"), url("../font/gllacy.woff?33611331") format("woff"), url("../font/gllacy.ttf?33611331") format("truetype"), url("../font/gllacy.svg?33611331#gllacy") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 900px;
  font: 400 16px/1.375 "Roboto", "Arial", sans-serif;
  color: #333333;
  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

.page-title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 1.3;
  color: #ffffff;
}

.bg {
  background-repeat: no-repeat;
  background-position: 50% 0;
  transition: all 0.3s ease;
}

.bg--catalog {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
}

.bg__line {
  height: 1px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: #cacac7;
}

.centerize {
  max-width: 1200px;
  margin: 0 auto;
}

.centerize__inner {
  box-sizing: border-box;
  padding: 0 2.3%;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}

.row__col {
  box-sizing: border-box;
  width: 48.84696%;
}

.btn {
  display: inline-block;
  vertical-align: baseline;
  max-width: 200px;
  padding: 10px 25px;
  border: none;
  text-align: center;
  line-height: 1;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn--middle {
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 17px;
}

.btn--large {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
}

.btn--xxl {
  max-width: 250px;
  padding: 16px 43px;
  font-size: 31.5px;
  border-radius: 40px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.btn--narrow {
  padding-left: 23px;
  padding-right: 23px;
}

.btn--wide {
  padding-left: 34px;
  padding-right: 34px;
}

.btn:hover {
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.btn:active {
  background-image: linear-gradient(to top, #e1613e, #d74632);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.link {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  transition: all 0.15s ease-out;
}

.link:hover {
  color: #ec593c;
  border-bottom-color: rgba(236, 89, 60, 0.3);
}

.link:active {
  color: #ec593c;
  border-bottom-color: rgba(236, 89, 60, 0.3);
}

.link--alt {
  color: #ffffff;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.link--alt:hover {
  color: #ffbc9e;
  border-bottom-color: rgba(249, 172, 159, 0.3);
}

.link--alt:active {
  color: #ffbc9e;
  border-bottom-color: rgba(249, 172, 159, 0.3);
}

.link--middle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.23;
  border-bottom: 2px solid #333333;
}

.field {
  position: relative;
  width: 100%;
}

.field__label {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #bbb;
  font-size: 14px;
  font-weight: 300;
  z-index: 2;
  pointer-events: none;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  -webkit-transform: translateY(-28px);
      -ms-transform: translateY(-28px);
          transform: translateY(-28px);
}

.field__label--small {
  top: 10px;
  left: 12px;
  font-size: 14px;
  -webkit-transform: translateY(-22px);
      -ms-transform: translateY(-22px);
          transform: translateY(-22px);
}

.field__label:before {
  content: attr(data-first);
  white-space: nowrap;
}

.field__input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: none;
  box-shadow: 0 0 0 1px #d3d3d2 inset;
  border-radius: 5px;
  font-weight: 700;
}

.field__input[type="search"] {
  box-sizing: border-box;
}

.field__input:hover {
  box-shadow: 0 0 0 2px #c7c6c5 inset;
}

.field__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #8fbdec inset;
}

.field__input--small {
  padding: 10px;
  font-size: 14px;
}

.field__input:invalid + .field__label {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.field__input:focus + .field__label {
  -webkit-transform: translateY(-28px);
      -ms-transform: translateY(-28px);
          transform: translateY(-28px);
  font-size: 11px;
  color: #5b9ddf;
}

.field__input:valid + .field__label {
  font-size: 11px;
  color: #5b9ddf;
}

.field__input--small:focus + .field__label--small {
  -webkit-transform: translateY(-22px);
      -ms-transform: translateY(-22px);
          transform: translateY(-22px);
  font-size: 9px;
  color: #5b9ddf;
}

.field__input--small:valid + .field__label--small {
  font-size: 9px;
  color: #5b9ddf;
}

.page-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 44px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.page-header__col {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-header__logo-wrap {
  position: relative;
  display: block;
  width: 154px;
  margin-right: 10px;
}

.page-header__logo-img {
  position: absolute;
  top: -12px;
  left: -5px;
  width: 153.094px;
  height: 63.25px;
}

.page-header__nav-wrap {
  width: 400px;
}

.page-header__actions-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 290px;
  margin-bottom: 10px;
}

.page-nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-nav__item {
  position: relative;
  margin: 0 5px 5px 0;
  padding: 6px 12px;
  border-radius: 30px;
  transition: background-color 0.3s ease-out, box-shadow 0.1s ease-in;
}

.page-nav__item:hover {
  color: #333333;
  background-color: #f8f7f4;
}

.page-nav__item:hover > .link {
  color: #333333;
  border-bottom: none;
}

.page-nav__item:active {
  background-color: #f8f7f4;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.page-nav__item:active > .link {
  color: #333333;
  border-bottom: none;
}

.page-nav__item--current {
  background-color: #d07058;
}

.page-nav__item--current > .link {
  border-bottom: none;
}

.page-nav__item--current:hover {
  background-color: #d07058;
}

.page-nav__item--current:hover > .link {
  color: #ffffff;
  border-bottom: none;
}

.page-nav__item--current:active {
  background-color: #d07058;
  box-shadow: none;
}

.page-nav__item--current:active > .link {
  color: #ffffff;
  border-bottom: none;
}

.page-nav__item:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.page-nav__sub-list {
  position: absolute;
  left: -7px;
  top: 110%;
  box-sizing: border-box;
  min-width: 144px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  transition: all 0.3s ease-out;
}

.page-nav__item:hover .page-nav__sub-list {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: 2;
}

.page-nav__sub-title {
  position: relative;
  padding: 9px 20px 11px 20px;
  font-size: 14px;
  font-weight: 700;
  cursor: default;
}

.page-nav__sub-title:after {
  content: "";
  position: absolute;
  left: 6px;
  right: 9px;
  height: 1px;
  background-color: #d1d0ce;
  bottom: 0;
}

.page-nav__sub-item {
  padding: 7px 20px;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.page-nav__sub-item:hover {
  background-color: #fbded7;
}

.page-nav__sub-item:active {
  background-color: #f6b5a5;
}

.page-nav__sub-item--current {
  background-color: #d07058;
}

.page-nav__sub-item--current:hover {
  background-color: #d07058;
}

.page-nav__sub-item:last-child {
  border-radius: 0 0 5px 5px;
}

.page-nav__sub-link {
  color: #333333;
  font-size: 14px;
  text-decoration: none;
}

.actions-btn {
  margin: 0 0 5px 12px;
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  border: none;
  text-align: center;
  line-height: 1;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  border-radius: 30px;
  cursor: default;
  transition: all 0.2s ease-out;
}

.actions-btn:hover {
  color: #333333;
  background-color: #f8f7f4;
}

.actions-btn svg {
  fill: currentColor;
  fill-rule: evenodd;
}

.actions-btn--search {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.actions-btn--search svg {
  width: 16.687px;
  height: 16.688px;
}

.actions-btn--login {
  position: relative;
  padding: 9px 15px 9px 42px;
}

.actions-btn--login svg {
  position: absolute;
  left: 15px;
  top: 6px;
  width: 20.063px;
  height: 19px;
}

.actions-btn--cart {
  position: relative;
  min-width: 57px;
  padding: 9px 15px 9px 42px;
  text-align: left;
}

.actions-btn--cart svg {
  position: absolute;
  left: 15px;
  top: 6px;
  width: 20.63px;
  height: 19.719px;
}

.actions-btn--cart-full {
  color: #333333;
  background-color: #f8f7f4;
}

.actions-btn--cart-full .cart-full-border {
  z-index: 2;
}

.actions-btn--cart-full .cart-full-inner {
  left: 20px;
  top: 9px;
  width: 15.13px;
  height: 10.25px;
}

.search {
  position: relative;
}

.search:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.search__form {
  height: 30px;
  margin: 0;
  padding: 0;
}

.search__wrap {
  position: absolute;
  top: 113%;
  right: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  transition: all 0.3s ease;
  width: 310px;
  padding: 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.search:hover .search__wrap {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: 2;
}

.login {
  position: relative;
}

.login:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.login__wrap {
  position: absolute;
  top: 113%;
  right: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  transition: all 0.3s ease;
  width: 240px;
  padding: 20px 15px 15px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.login__form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.login__input {
  margin-bottom: 12px;
}

.login__col {
  width: 50%;
}

.login__links {
  font-size: 13px;
  line-height: 1.6;
}

.login:hover .login__wrap {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: 2;
}

.cart {
  position: relative;
}

.cart:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
}

.cart__form {
  position: absolute;
  top: 113%;
  right: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
  transition: all 0.3s ease;
  width: 515px;
  padding: 26px 15px 23px 10px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.cart:hover .cart__form {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: 2;
}

.cart__table {
  margin-bottom: 12px;
}

.cart__btn {
  text-align: right;
}

.cart-list {
  font-size: 13px;
}

.cart-list td {
  vertical-align: top;
}

.cart-list__remove {
  width: 6%;
  padding: 0;
}

.cart-list__icon-remove {
  position: relative;
  width: 26px;
  height: 32px;
  display: block;
  font-size: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.cart-list__icon-remove:before, .cart-list__icon-remove:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1px;
  height: 15px;
  background-color: #353535;
}

.cart-list__icon-remove:before {
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.cart-list__icon-remove:after {
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.cart-list__img {
  width: 7%;
  padding: 0;
}

.cart-list__img img {
  border-radius: 50%;
}

.cart-list__descr {
  width: 47%;
  padding: 8px 10px 28px 10px;
}

.cart-list__price {
  width: 25%;
  padding: 8px 10px;
}

.cart-list__price span {
  color: #7f7f7f;
}

.cart-list__count {
  width: 15%;
  padding: 8px 10px;
}

.cart-list__total {
  position: relative;
  padding: 0 10px;
  text-align: right;
  font-size: 16px;
}

.cart-list__total:before {
  content: "";
  position: absolute;
  left: 6px;
  right: 9px;
  height: 1px;
  background-color: #d1d0ce;
  top: -13px;
}

.schedule {
  position: absolute;
  top: 100%;
  right: 0;
  color: #ffffff;
  text-align: right;
}

.schedule p {
  margin: 0;
  padding: 0;
}

.schedule__time {
  font-size: 14px;
  font-weight: 700;
}

.schedule__phone {
  font-size: 22px;
  font-weight: 900;
}

.slider {
  position: relative;
  padding-top: 290px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.slider__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  transition: all 0.3s ease-out;
}

.slider__slide {
  width: 100%;
  margin-bottom: 35px;
}

.slider__title {
  width: 700px;
  margin: 0 auto 32px;
  font: 900 60px/60.35px "Roboto", "Arial", sans-serif;
  color: #ffffff;
}

.slider__controls {
  position: absolute;
  bottom: 65px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
}

.slider__control {
  width: 17px;
  height: 17px;
  margin-right: 8px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.slider__control:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

.input {
  display: none;
}

.input--1:checked ~ .bg {
  background-color: #849d8f;
  background-image: url(../img/bg_slider-1.jpg);
}

.input--2:checked ~ .bg {
  background-color: #8996a6;
  background-image: url(../img/bg_slider-2.jpg);
}

.input--3:checked ~ .bg {
  background-color: #9d8b84;
  background-image: url(../img/bg_slider-3.jpg);
}

.input--1:checked ~ .bg .slider__wrap {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.input--2:checked ~ .bg .slider__wrap {
  -webkit-transform: translate(-33.33%);
      -ms-transform: translate(-33.33%);
          transform: translate(-33.33%);
}

.input--3:checked ~ .bg .slider__wrap {
  -webkit-transform: translate(-66.66%);
      -ms-transform: translate(-66.66%);
          transform: translate(-66.66%);
}

.input--1:checked ~ .bg .slider__control--1,
.input--2:checked ~ .bg .slider__control--2,
.input--3:checked ~ .bg .slider__control--3 {
  background-color: #ffffff;
}

.banner {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 230px;
  padding: 12px 20px 80px 20px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.banner--berry {
  background-color: #a63856;
  background-image: url(../img/bg_banner-1.jpg);
}

.banner--choco {
  background-color: #835542;
  background-image: url(../img/bg_banner-2.jpg);
}

.banner__title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  margin-bottom: 10px;
}

.banner__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.banner__btn {
  position: absolute;
  right: 20px;
  bottom: 17px;
}

.products {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.products__col {
  box-sizing: border-box;
  width: 23.27044%;
}

.product {
  position: relative;
  color: #ffffff;
  margin-bottom: 38px;
  transition: all 0.3s ease-out;
}

.product__inner {
  position: relative;
}

.product__img {
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.product__img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.product__price {
  position: absolute;
  z-index: 5;
  bottom: 0;
  max-width: 100%;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.product__price small {
  font-size: 30px;
  margin-left: -5px;
}

.product__title {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
}

.product__link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.product__actions {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: none;
  text-align: center;
}

.product:hover {
  z-index: 2;
  margin-bottom: -30px;
  padding-bottom: 68px;
  cursor: pointer;
}

.product:hover:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 104%;
  height: 102%;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product:hover .product__actions {
  display: block;
}

.product:hover .product__img,
.product:hover .product__title,
.product:hover .product__actions {
  z-index: 2;
}

.product:hover .product__link {
  border-bottom: none;
}

.product--top {
  margin-bottom: 20px;
}

.product--top:hover {
  margin-bottom: -48px;
}

.product--top:before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/icon_product-top.png);
  background-repeat: no-repeat;
}

.cur:before {
  content: "\e800";
  font-family: "gllacy";
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  speak: none;
  font-variant: normal;
  text-transform: none;
}

.cur__inner {
  font-size: 0;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.info {
  margin-bottom: 40px;
  padding: 20px 12px 10px 20px;
  background-color: #f1e5cd;
  background-image: url(../img/bg_promo.jpg);
  border-radius: 15px;
}

.info__title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.25;
}

.info__text {
  position: relative;
  margin: 0;
  padding: 14px 0 10px 55px;
}

.info__text svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 47.375px;
  height: 47.38px;
}

.blog-new {
  min-height: 220px;
  padding: 25px 20px 25px 20px;
  background-image: url(../img/bg_blog-new.jpg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.blog-new__title {
  margin: 0;
  padding: 0;
  color: #5a5a5a;
  margin-bottom: 3px;
}

.blog-new__link {
  display: block;
  width: 350px;
}

.subscribe {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 220px;
  padding: 35px 20px 80px 25px;
  background-image: url(../img/bg_blog-subscribe.png);
  background-color: #f8f7f4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 15px;
}

.subscribe__text {
  margin: 0;
  padding: 0;
  color: #5a5a5a;
}

.subscribe__form {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__field {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 10px;
}

.map {
  position: relative;
  min-height: 430px;
}

.map__inner {
  position: relative;
  min-height: 430px;
  margin: 0 2.3%;
  background: #ebe4c9 url(../img/bg_map.png) no-repeat center;
  background-size: cover;
}

.map__contact {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  box-sizing: border-box;
  width: 300px;
  max-height: 400px;
  z-index: 2;
}

.map__ya {
  position: absolute;
  top: 0;
  width: 100%;
  height: 430px;
  z-index: 1;
}

.contact {
  padding: 30px 20px 20px 25px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
  overflow: auto;
}

.contact__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.contact__text span {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contact__text:last-of-type {
  margin-bottom: 30px;
}

.breadcrumbs {
  font-size: 14px;
  color: #ffffff;
  max-width: 80%;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 18px;
}

.breadcrumbs__item:after {
  content: "\00BB";
  position: absolute;
  right: -15px;
}

.breadcrumbs__item:last-child:after {
  content: none;
}

.filters {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  box-sizing: border-box;
  width: 870px;
  margin: 0;
  padding: 20px 0 25px 0;
  font-weight: 500;
  color: #ffffff;
}

.filters__item {
  border: none;
  margin: 0 15px 12px 0;
  padding: 0;
}

.filters__title {
  font-size: 14px;
  margin: 10px 15px 7px 15px;
}

.filters__btn {
  margin-bottom: 12px;
}

.filter-sort {
  width: 192px;
}

.filter-sort__field {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.filter-sort__field:hover, .filter-sort__field:focus {
  background-color: #ffffff;
  color: #333333;
}

.filter-sort__field .select-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 7%;
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}

.filter-sort__field .select {
  width: 100%;
  height: 36px;
  margin: 0;
  padding: 0 25px 0 10px;
  background-color: transparent;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filter-sort__field .select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.filter-sort__field .select:hover, .filter-sort__field .select:focus, .filter-sort__field .select:active {
  background-color: #ffffff;
  color: #333333;
}

.filter-sort__field .select::-ms-expand {
  display: none;
}

.select:focus ~ .select-icon:after {
  border-top-color: #333333;
}

@-moz-document url-prefix() {
  .filter-sort .select {
    text-indent: 0.01px;
    text-overflow: "";
    padding-right: 1rem;
  }
  .filter-sort option {
    background-color: white;
  }
}

.filter-price {
  width: 220px;
}

.filter-price__field {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 36px;
  padding: 15px;
  box-sizing: border-box;
  line-height: 1;
  font-weight: 500;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-price__scale {
  box-sizing: border-box;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.filter-price__range {
  position: relative;
  margin-left: 20%;
  width: 51%;
  height: inherit;
  background-color: #f8f7f4;
}

.filter-price__toggle {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #f8f7f4;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.filter-price__toggle:hover {
  width: 22px;
  height: 22px;
}

.filter-price__toggle--min {
  left: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.filter-price__toggle--max {
  right: 0;
  -webkit-transform: translateX(50%) translateY(-50%);
      -ms-transform: translateX(50%) translateY(-50%);
          transform: translateX(50%) translateY(-50%);
}

.filter-radio__input {
  display: none;
}

.filter-radio__field {
  width: 100%;
  height: 36px;
  padding: 10px 15px;
  box-sizing: border-box;
  line-height: 1;
  font-weight: 500;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-radio__label {
  position: relative;
  margin-right: 15px;
  padding-left: 30px;
  cursor: pointer;
}

.filter-radio__label:last-of-type {
  margin-right: 0;
}

.filter-radio__indicator {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #f8f7f4;
  border-radius: 50px;
}

.filter-radio__indicator:hover {
  border-width: 2px;
}

.filter-radio__input:checked + .filter-radio__label .filter-radio__indicator:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #f8f7f4;
  border-radius: 50px;
}

.filter-radio__input:disabled + .filter-radio__label .filter-radio__indicator {
  border: 1px solid rgba(248, 247, 244, 0.4);
}

.filter-radio__input:disabled + .filter-radio__label .filter-radio__indicator:before {
  background-color: rgba(248, 247, 244, 0.4);
}

.filter-check__input {
  display: none;
}

.filter-check__field {
  width: 100%;
  height: 36px;
  padding: 10px 20px 10px 17px;
  box-sizing: border-box;
  line-height: 1;
  font-weight: 500;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-check__label {
  position: relative;
  margin-right: 16px;
  padding-left: 32px;
  cursor: pointer;
}

.filter-check__label:last-of-type {
  margin-right: 0;
}

.filter-check__indicator {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.filter-check__indicator:hover {
  border-width: 2px;
}

.filter-check__input:checked + .filter-check__label .filter-check__indicator:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -75%) rotate(-45deg);
      -ms-transform: translate(-50%, -75%) rotate(-45deg);
          transform: translate(-50%, -75%) rotate(-45deg);
  width: 8px;
  height: 4px;
  border: 2px solid #ffffff;
  border-top-color: transparent;
  border-right-color: transparent;
}

.filter-check__input:disabled + .filter-check__label .filter-check__indicator {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.filter-check__input:disabled + .filter-check__label .filter-check__indicator:before {
  border-bottom-color: rgba(255, 255, 255, 0.4);
  border-left-color: rgba(255, 255, 255, 0.4);
}

.plain-btn {
  border: none;
  text-align: center;
  line-height: 1;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 2px 2px 0;
  padding: 8px 26px;
  box-shadow: 0 0 0 2px #ffffff;
  border-radius: 30px;
  transition: background-color 0.3s ease-out;
}

.plain-btn:hover {
  background-color: #ffffff;
  color: #333333;
}

.plain-btn:active {
  margin: -2px 0 0 -2px;
  padding: 10px 28px;
  background-color: #f8f7f4;
  color: #333333;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.paginator {
  padding: 20px 0 40px 0;
  text-align: right;
  font-size: 0;
}

.paginator__item {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 3px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 0.15s ease-out;
}

.paginator__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator__item--current {
  color: #333333;
  background-color: #ffffff;
}

.paginator__item--current:hover {
  background-color: #ffffff;
}

.paginator__dir {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 26px;
  margin-right: 8px;
}

.paginator__dir:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 7px;
  height: 7px;
  border: 2px solid #ffffff;
  border-top-color: transparent;
  border-right-color: transparent;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.paginator__dir--next {
  margin-right: 0px;
}

.paginator__dir--next:before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.paginator__dir--disabled:before {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: transparent;
  border-right-color: transparent;
}

.page-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__col {
  width: 200px;
}

.page-footer__col--wide {
  width: 400px;
}

.socials {
  margin: 17px 0 0 3px;
  font-size: 0;
  z-index: 2;
}

.social {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 31px;
  height: 31px;
  margin-right: 18px;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.1s ease-in;
}

.social svg {
  position: relative;
  z-index: -1;
  width: 31px;
  height: 31px;
}

.social:hover {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.98);
}

.social:active {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5), 0 2px 1px 0 #888888 inset;
  color: #e9e9e9;
}

.extra-nav {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  margin-top: 13px;
  margin-left: -50px;
  font-size: 13px;
  line-height: 22px;
}

.extra-nav__cols {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 10px;
}

.extra-nav__item {
  margin: 0;
  padding: 0;
}

.extra-nav__item--suppliers {
  position: relative;
  font-weight: 700;
  margin-left: 90px;
}

.extra-nav__item--suppliers svg {
  position: absolute;
  top: 5px;
  left: -22px;
  width: 14.562px;
  height: 12.66px;
}

.extra-nav__item--production {
  margin-left: 90px;
}

.copyright {
  text-align: right;
}

.copyright__inner {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.copyright__img {
  font-size: 0;
  margin-bottom: 5px;
}

.copyright__img svg {
  width: 107.622px;
  height: 36.69px;
}

.copyright__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #ffffff;
}

.modal-contact {
  position: fixed;
  left: 50%;
  top: 50%;
  display: none;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  width: 425px;
  padding: 13px 25px 25px 25px;
  background-color: #f8f7f4;
  border-radius: 15px;
  -webkit-animation: fade 0.3s both;
          animation: fade 0.3s both;
}

.modal-contact__close {
  position: absolute;
  width: 26px;
  height: 26px;
  display: block;
  font-size: 0;
  border: none;
  outline: none;
  background-color: transparent;
  right: 10px;
  top: 10px;
}

.modal-contact__close:before, .modal-contact__close:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 2px;
  height: 22px;
  background-color: #353535;
}

.modal-contact__close:before {
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.modal-contact__close:after {
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-contact__text {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 500;
}

.modal-contact__item {
  width: 63%;
  margin-bottom: 20px;
}

.modal-contact__text-field {
  margin-bottom: 15px;
}

.modal-contact__btn {
  text-align: right;
}

.modal-contact--show {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay--show {
  display: block;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes fade-hover {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fade-hover {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
