body {
  min-width: 900px;
  font: 400 16px/22px "Roboto", sans-serif;
  color: #333333;
  background-color: #849d8f;
}

body * {
  outline: 1px solid red;
}

img {
  max-width: 100%;
  height: auto;
}

.page-header__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 64px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}

.page-header__col {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-header__logo-wrap {
  position: relative;
  display: block;
  width: 154px;
  margin-right: 10px;
}

.page-header__logo-img {
  position: absolute;
  top: -20px;
  left: -13px;
}

.page-header__nav-wrap {
  width: 350px;
}

.page-header__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-nav__item {
  position: relative;
}

.page-nav__link {
  font-size: 16px;
  color: #ffffff;
}

.page-nav__sub-list {
  position: absolute;
  display: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-nav__item:hover .page-nav__sub-list {
  display: block;
}

.search {
  position: relative;
}

.search__input {
  display: none;
  position: absolute;
}

.search:hover .search__input {
  display: block;
}

.login {
  position: relative;
}

.login__form {
  display: none;
  position: absolute;
}

.login:hover .login__form {
  display: block;
}

.cart {
  position: relative;
}

.cart__form {
  display: none;
  position: absolute;
}

.cart:hover .cart__form {
  display: block;
}
