@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fade-hover {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


//@keyframes shake {
//    0%, 100% {
//        transform: translate(-50%, -50%);
//    }
//    10%, 30%, 50%, 70%, 90% {
//        transform: translate(-51%, -50%);
//    }
//    20%, 40%, 60%, 80% {
//        transform: translate(-49%, -50%);
//    }
//}
