@mixin center {
  max-width: $w_max;
  margin: 0 auto;
}

@mixin add-p {
  box-sizing: border-box;
  padding: 0 $p_base;
}

@mixin clear-mp {
  margin: 0;
  padding: 0;
}

@mixin clear-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
