@mixin center {
  max-width: $w_max;
  margin: 0 auto;
}

@mixin add-p {
  box-sizing: border-box;
  padding: 0 $p_base;
}

@mixin clear-mp {
  margin: 0;
  padding: 0;
}

@mixin clear-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin btn {
  border: none;
  text-align: center;
  line-height: 1;
  outline: none;
  overflow: hidden;
  text-decoration: none;
}

@mixin clear-link {
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}

@mixin poz-hover {
  position: absolute;
  top: 113%;
  right: 0;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  transform: translate(0, -10px);
  transition: all 0.3s ease;
}

@mixin animate-hover {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.3s ease;
  z-index: $zi_hover;
}

@mixin hover-helper {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    }
}

@mixin style-form {
  background-color: $bg_light;
  border-radius: $br_small;
}


//@mixin style-input {
//  box-sizing: border-box;
//  width: 100%;
//  padding: 10px;
//  border: 1px solid $bc_input;
//  border-radius: $br_small;
//  font-size: $fz_s;
//  font-weight: 700;
//  &:hover {
//    padding: 9px;
//    border: 2px solid $bc_input-hov;
//  }
//  &:focus {
//    outline: none;
//    padding: 9px;
//    border: 2px solid $bc_input-foc;
//  }
//  &::-webkit-input-placeholder {font-weight: 400;}
//  &:-moz-placeholder {font-weight: 400;}
//  &::-moz-placeholder {font-weight: 400;}
//  &:-ms-input-placeholder {font-weight: 400;}
//}

@mixin line {
  content: "";
  position: absolute;
  left: 6px;
  right: 9px;
  height: 1px;
  background-color: #d1d0ce;
}

@mixin style-filter {
  box-sizing: border-box;
  line-height: 1;
  font-weight: $fw_medium;
  border-radius: $br_base;
  background-color: $bg_block;
}


@mixin icon-close($poz_el, $width_el, $height_el, $width_ps, $height_ps) {
  position: $poz_el;
  width: $width_el;
  height: $height_el;
  display: block;
  font-size: 0;
  border: none;
  outline: none;
  background-color: transparent;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    width: $width_ps;
    height: $height_ps;
    background-color: #353535;
  }
  &:before {
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

