.svg-icon_cart {
  width: 20.63px;
  height: 19.719px;
}

.svg-icon_cart-full {
  width: 15.13px;
  height: 10.25px;
}

.svg-icon_login {
  width: 20.063px;
  height: 19px;
}

.svg-icon_nav-heart {
  width: 14.562px;
  height: 12.66px;
}

.svg-icon_promo-cow {
  width: 47.406px;
  height: 47.38px;
}

.svg-icon_promo-ice {
  width: 47.375px;
  height: 47.38px;
}

.svg-icon_promo-leaf {
  width: 47.375px;
  height: 47.38px;
}

.svg-icon_promo-term {
  width: 47.406px;
  height: 47.38px;
}

.svg-icon_search {
  width: 16.687px;
  height: 16.688px;
}

.svg-icon_social-fb {
  width: 31.375px;
  height: 31.41px;
}

.svg-icon_social-inst {
  width: 31.376px;
  height: 31.41px;
}

.svg-icon_social-tw {
  width: 31.375px;
  height: 31.4px;
}

.svg-icon_social-vk {
  width: 31.375px;
  height: 31.41px;
}

.svg-logo {
  width: 153.094px;
  height: 63.25px;
}

.svg-logo_copyright {
  width: 107.622px;
  height: 36.69px;
}

