//COLORS

$white: #ffffff;
$black: #000000;

$grey-20: #333333;
$grey-35: #5a5a5a;
$grey-50: #808080;
$grey-60: #999999;

$c_text_base: $grey-20;
$c_text_alt: $white;

$c_text_light: $grey-60;
$c_text-bg_light: $grey-50;

$c_link: $grey-20;
$c_link-hov: #ec593c;
$c_link-act: #ec593c;

$c_link_alt: $white;
$c_link-hov_alt: #ffbc9e;
$c_link-act_alt: #ffbc9e;

$bg_page_green: #849d8f;
$bg_page_grey: #8996a6;
$bg_page_brown: #9d8b84;

$bg_light: #f8f7f4;

$bg_nav-ch: #d07058;

$bg_sub-nav-hov: #fbded7;
$bg_sub-nav-act: #f6b5a5;
