//COLORS

$white: #ffffff;
$black: #000000;

$grey-20: #333333;
$grey-35: #5a5a5a;
$grey-50: #808080;
$grey-60: #999999;

$c_text_base: $grey-20;
$c_text_alt: $white;

$c_text_light: $grey-60;
$c_text-bg_light: $grey-50;

$c_link: $grey-20;
$c_link-hov: #ec593c;
$c_link-act: #ec593c;

$c_link_alt: $white;
$c_link-hov_alt: #ffbc9e;
$c_link-act_alt: #ffbc9e;

$bg_page_green: #849d8f;
$bg_page_grey: #8996a6;
$bg_page_brown: #9d8b84;

$bg_light: #f8f7f4;

$bg_nav-ch: #d07058;

$bg_sub-nav-hov: #fbded7;
$bg_sub-nav-act: #f6b5a5;

$gr_btn: linear-gradient(to top, #e74a35, #f26843);

//TYPE

$ff_base: "Roboto", sans-serif;
$fz_base: 16px;
$lh_base: 22px;
$fw_base: 400;

$font_base: $fw_base #{$fz_base}/#{$lh_base} $ff_base;

$font_xxl: 900 60px/60.35px $ff_base;

//SIZE

$w_max: 1200px;
$w_min: 900px;

$p_base_pct: 2.3;
$p_base: percentage($p_base_pct) / 100;

$p_inner_pct: 2.2;

// 1% общей максимальной ширины
$w_1pct_max: $w_max / 100;
// рассчетное значение внешних паддингов при максимальной ширине
$p_base_count_max: $p_base_pct * $w_1pct_max;
// рассчетное значение межколоночных паддингов при максимальной ширине
$p_inner_count_max: $p_inner_pct * $w_1pct_max;
// ширина контейнера колоночной сетки без двух внешних паддингов при максимальной ширине
$w_cols_max: $w_max - ($p_base_count_max * 2);
// 1% максимальной ширины контейнера
$w_1pct_cols_max: $w_cols_max / 100;
// ширина одной колонки в 2-колоночной сетке c одним межколоночным паддингом при максимальной ширине
$w_cols-2_col_max: ($w_cols_max - $p_inner_count_max) / 2;
// ширина одной колонки в 4-колоночной сетке c 3 межколоночными паддингами при максимальной ширине
$w_cols-4_col_max: ($w_cols_max - $p_inner_count_max * 3) / 4;

// расчет процентной ширины колонки в 2-колоночной сетке
$w_cols-2_col_pct: percentage($w_cols-2_col_max / $w_1pct_cols_max) / 100;
// расчет процентной ширины колонки в 4-колоночной сетке
$w_cols-4_col_pct: percentage($w_cols-4_col_max / $w_1pct_cols_max) / 100;
