.breadcrumbs {
  font-size: $fz_s;
  color: $c_text_alt;
  max-width: 80%;
  
  &__item {
    position: relative;
    margin-right: 18px;
    &:after {
      content: "\00BB";
      position: absolute;
      right: -15px;
    }
    &:last-child:after {
      content: none;
    }
  }
}
