.btn {
  @include clear-btn;
  display: inline-block;
  padding: 0 18px;
  line-height: 2.1;
  text-decoration: none;
  color: $c_text_alt;
  background: $gr_btn;
  border-radius: $br_base;
  box-shadow: 0 2px 2px 0 #ac1000;
  &--large {
    padding: 0 43px;
    font-size: 31.5px;
    border-radius: 40px;
  }
  &--wide {
    padding: 0 27px;
  }
}
