.btn {
  @include btn;
  display: inline-block;
  padding: 10px 25px;
  font-size: 15px;
  color: $c_text_alt;
  background-image: $gr_btn;
  border-radius: $br_base;
  box-shadow: 0 2px 2px 0 #ac1000;
  &--middle {
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 17px;
  }
  &--large {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
  }
  &--xxl {
    padding: 16px 43px;
    font-size: 31.5px;
    border-radius: 40px;
  }
  &--narrow {
    padding-left: 23px;
    padding-right: 23px;
  }
  &--wide {
    padding-left: 34px;
    padding-right: 34px;
  }
}
