.extra-nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 22px;
  & ul {
    @include clear-list;
  }
  &__col-left {
    width: 40%;
    margin-right: 10px;
  }
  &__col-right {
    width: 55%;
  }
  &__item {
    &--suppliers {
      position: relative;
      font-weight: $fw_bold;
      &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: -20px;
        width: 14px;
        height: 12px;
        background: url(../img/icon_nav-heart.svg) no-repeat;
      }
    }
  }
}
