.field {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: none;
  box-shadow: 0 0 0 1px $bc_input inset;
  border-radius: $br_small;
  font-weight: 700;
  &[type="search"] {
    box-sizing: border-box;
  }
  &:hover {
    box-shadow: 0 0 0 2px $bc_input-hov inset;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $bc_input-foc inset;
  }
  &--small {
    padding: 10px;
    font-size: $fz_s;
  }
  &::-webkit-input-placeholder {font-weight: 400;}
  &:-moz-placeholder {font-weight: 400;}
  &::-moz-placeholder {font-weight: 400;}
  &:-ms-input-placeholder {font-weight: 400;}
}
