.link {
  color: $c_text_base;
  text-decoration: none;
  border-bottom: 1px solid $bc_link;
  transition: all 0.15s ease-out;
  &:hover {
    color: $c_link-hov;
    border-bottom-color: $bc_link-hov;
  }
  &:active {
    color: $c_link-act;
    border-bottom-color: $bc_link-act;
  }
  &--alt {
    color: $c_text_alt;
    border-bottom-color: $bc_link_alt;
    &:hover {
    color: $c_link-hov_alt;
    border-bottom-color: $bc_link-hov_alt;
    }
    &:active {
      color: $c_link-act_alt;
      border-bottom-color: $bc_link-hov_alt;
    }
  }
  &--middle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.23;
    border-bottom: 2px solid $c_link;
  }
}
