.page-nav {
  &__list {
    display: flex;
    justify-content: space-between;
    @include clear-list;
    }
  &__item {
    position: relative;
    padding: 6px 12px;
    border-radius: $br_base;
    &:hover {
      color: $c_text_base;
      background-color: $bg_light;
    }
    &:hover a {
      color: $c_text_base;
      text-decoration: none;
    }
    &:not(.page-nav__item--active):active {
      box-shadow: inset 0 2px 1px 0px #696969;
    }
    &--current {
      background-color: $bg_nav-cur;
      & > a {
        text-decoration: none;
      }
      &:hover {
        background-color: $bg_nav-cur;
      }
      &:hover > a {
        color: $c_text_alt;
      }
    }
    @include hover-helper;
  }
  &__link {
    color: $c_text_alt;
  }
      
  &__sub-list {
    position: absolute;
    left: -7px;
    top: 110%;
    display: none;
    box-sizing: border-box;
    min-width: 144px;
    @include clear-list;
    background-color: $bg_light;
    border-radius: $br_small;
    z-index: $zi_hover;
  }
  &__item:hover &__sub-list {
    display: block;
  }
  &__sub-title {
    position: relative;
    padding: 9px 20px 11px 20px;
    font-size: $fz_s;
    font-weight: 700;
    cursor: default;
    &:after {
      @include line;
      bottom: 0;
    }
  }
  &__sub-item {
    padding: 7px 20px;
    font-size: $fz_s;
    text-decoration: none;
    &:hover {
      background-color: #fbded7;
    }
    &:active {
      background-color: #f6b5a5;
    }
    &--current {
      background-color: #d07058;
      &:hover {
        background-color: #d07058;
      }
    }
    &:last-child  {
      border-radius: 0 0 $br_small $br_small;
      }
  }
  &__sub-link {
    color: $c_text_base;
    font-size: $fz_s;
    text-decoration: none;
  }
}
