.page-header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 64px;
    @include center;
  }
  
  &__col {
    display: flex;
  }
  
  &__logo-wrap {
    position: relative;
    display: block;
    width: 154px;
    margin-right: 10px;
  }
  &__logo-img {
    position: absolute;
    top: -20px;
    left: -13px;
  }
  
  &__nav-wrap {
    width: 350px;
  }
  
  &__actions {
    display: flex;
  }
}
