.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  
  &__col {
    display: flex;
  }
  
  &__logo-wrap {
    position: relative;
    display: block;
    width: 154px;
    margin-right: 10px;
  }
  &__logo-img {
    position: absolute;
    top: -12px;
    left: -5px;
    width: 153.094px;
    height: 63.25px;
  }
  
  &__nav-wrap {
    width: 375px;
  }
  
  &__actions-wrap {
    display: flex;
    justify-content: space-between;
    width: 260px;
  }
}
