.product {
  position: relative;
  color: $c_text_alt;
  margin-bottom: 20px;
  &__img {
    position: relative;
    margin-bottom: 10px;
    & img {
      border-radius: 50%;
    }
  }
  &__price {
    position: absolute;
    bottom: 15px;
    font-size: 30px;
    font-weight: $fw_bold;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    & span {
      font-size: 45px;
    }
  }
  &__title {
    position: relative;
    @include clear-mp;
    font-size: $fz_base;
    text-align: center;
  }
  &__link {
    color: $c_text_alt;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-decoration: none;
  }
  &__actions {
    position: absolute;
    left: -6px;
    bottom: -77px;
    right: -6px;
    display: none;
    padding: 18px 0;
    text-align: center;
    background-color: $bg_hover;
    border-bottom-left-radius: $br_small;
    border-bottom-right-radius: $br_small;
  }
  &:before {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: 0px;
    left: -6px;
    display: none;
    background-color: $bg_hover;
    border-top-left-radius: $br_small;
    border-top-right-radius: $br_small;
    z-index: $zi_base;
  }
  &:after {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -77px;
    left: -6px;
    display: none;
    box-shadow: $bs_hover;
    border-bottom-left-radius: $br_small;
    border-bottom-right-radius: $br_small;
    z-index: $zi_base;
  }
  &:hover:before,
  &:hover:after,
  &:hover &__actions {
    display: block;
  }
  &:hover &__img,
  &:hover &__title,
  &:hover &__actions {
    z-index: 2;
  }
  &:hover &__link {
    border-bottom: none;
  }
}
