.search {
  position: relative;
  &__form {
    height: 30px;
    @include clear-mp;
  }
  &__input {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
  }
  &:hover &__input {
    display: block;
  }
}
