.slider {
  position: relative;
  padding: 273px 0 30px;
  text-align: center;
  overflow: hidden;
  z-index: $zi_base;
  &__wrap {
    display: flex;
    width: 300%;
  }
  &__slide {
    width: 100%;
  }
  &__title {
    width: 700px;
    margin: 0 auto 28px;
    font: $font_xxl;
    color: $c_text_alt;
  }
  &__controls {
    position: absolute;
    bottom: 70px;
    display: flex;
    width: 100px;
  }
  &__control {
    width: 17px;
    height: 17px;
    margin-right: 8px;
    border: 2px solid #ffffff;
    border-radius: 50%;
  }
}
//Логика слайдера в _input.scss
