.social {
  display: inline-block;
  vertical-align: middle;
  width: 33px;
  height: 33px;
  margin-right: 17px;
  box-shadow: 0 0 0 3px $bc_social;
  background-image: url(../img/icon_social-tw.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 33px;
  border-radius: 50%;
  &:hover {
    box-shadow: 0 0 0 4px $bc_social;
  }
  &:active {
    box-shadow:
      0 0 0 4px $bc_social,
      0 2px 1px 0 #888888 inset;
  }
  &--tw {
    background-position: center;
  }
  &--fb {
    background-position: center;
  }
  &--inst {
    background-position: center;
  }
  &--vk {
    background-position: center;
  }
}
